<div class="body">
	<loading-screen></loading-screen>
	<p-toast [style]="{marginTop: '80px'}"></p-toast>
	<p-confirmDialog header="Confirmation" appendTo="body" icon="pi pi-exclamation-triangle"></p-confirmDialog>
	<div id="wrapper">
		<app-header></app-header>
		<p-sidebar 
			[(visible)]="visibleSidebar1" 
			[modal]="false" 
			[showCloseIcon]="false" 
			[closeOnEscape]="false" 
			[style]="{width:'240px'}">
			<app-sidebar></app-sidebar>
		</p-sidebar>
		<div id="main-content">
			<app-breadcrumb></app-breadcrumb>
			<div class="layout-content">
				<router-outlet (activate)="getActiveRoutes()"></router-outlet>
			</div>
		</div>
	</div>
</div>
