<div class="sidebar">
  <div class="sidebar-header pt-3">
    <img class="logo" src="https://pngimg.com/uploads/walt_disney/walt_disney_PNG20.png" alt="logo">
    <!-- <div>
      <img class="avatar mt-2" src="https://cdn1.vectorstock.com/i/1000x1000/27/65/cute-boy-face-cartoon-vector-23302765.jpg" alt="avatar">
    </div>
    <h4 class="mt-1" (click)="menu.toggle($event)">Do Hong Quan <i class="pi pi-caret-down"></i></h4> -->
    <!-- <button #btn type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button> -->
    <p-tieredMenu #menu [model]="userSettings" [popup]="true" appendTo="body"></p-tieredMenu>
  </div>
  <div class="pt-4">
    <p-panelMenu [model]="items" [style]="{'width':'100%'}" [multiple]="false"></p-panelMenu>
  </div>
</div>
