<p-card>
  <p-header>
    <div class="ui-card-body mt-2 mb-2">
      <button class="float-right mb-2" pButton type="button" label="Tạo videos" [routerLink]="['new']"></button>
    </div>
  </p-header>
  <p-table [value]="videos">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols" [ngStyle]="{'width': col.field === 'source' ? '220px' : 'auto'}">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-video let-rowIndex="rowIndex">
      <tr>
        <td class="row-grid" *ngFor="let col of cols; let i = index">
          <ng-container *ngIf="col.field === 'name'">
            <div class="td-image-box">
              <img style="width: 100px; padding-right: 20px" [src]="video.cover?.url" alt="video-cover">
              <span>{{video.name}}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="col.field === 'source'">
            <ng-container *ngIf="video.source.iframe">
              <iframe [src]="video?.source?.url | sanitizeUrl" width="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
            </ng-container>
            <ng-container *ngIf="!video.source.iframe">
              <video width="200" controls>
                <source [src]="video?.source?.url">
              </video>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="col.field === 'createdAt'">
            <span>{{video.createdAt | dateTime: 'HH:mm dd-MM-yyyy' : 'timestamp' }}</span>
          </ng-container>
          <ng-container *ngIf="col.field !== 'name' && col.field !== 'createdAt'  && col.field !== 'source'">
            {{video[col.field]}}
          </ng-container>
          <span class="float-right" *ngIf="i === (cols.length - 1)" (click)="handleAction(video.id, $event)">
            <i class="pi pi-ellipsis-v"></i>
          </span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td class="row-grid" [attr.colspan]="cols.length">
          <p>Không tìm thấy dữ liệu</p>
        </td>
      </tr> 
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
      <tr style="height:34px">
        <td *ngFor="let col of columns">
          <div class="loading-text"></div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card> 
<p-tieredMenu #menu [model]="items" appendTo="body" [popup]="true"></p-tieredMenu>
